body 
{

background-color: rgb(122, 122, 122);

}

section
{
    border: 2px greenyellow;  
    background-color: greenyellow;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 80px;
    padding-bottom: 50px;

}

article
{
    border: 1px solid greenyellow;
    background-color: rgb(179, 179, 179);
    padding: 25px 50px 75px 100px;
}